<h1>StaticPages#landing_page</h1>
<h2> Hello World!</h2>
<p>Find me in app/views/static_pages/landing_page.html.erb</p>
<%= link_to "Privacy Policy", privacy_policy_path %>

<!--static_pages is the controller and landing_pages is an action with a view - Inside the view file can have HTML and elements of Ruby Code-->
<!--If want to see my landing page as default instead of Ruby page, go to "config/routes" and add - root "static_page#landing_page"-->

<!--Change URL in browser to - https://a1e1f3804928426abbd1bf39b1f347ad.vfs.cloud9.us-east-2.amazonaws.com//static_pages/landing_page-->
