<h1>StaticPages#privacy_policy</h1>
<p>Find me in app/views/static_pages/privacy_policy.html.erb</p>
<%= link_to "Home", root_path %>
<!--To not have controller in route trying to access privacy_policy, -->
<!--delete this line and add get "privacy policy" in routes.rb-->
